@media (max-width: 1195.5px) {
    h1{
        font-size: 3.75rem;

    }
    h2{
        font-size:2.1875rem;
    }
    h3{
        font-size: 1.875rem;
        line-height: 2.6875rem;
    }
    h5{
        font-size: 1.0392rem;
    }
}

@media (max-width: 991px){
    .header-scrolled{
        height: auto;
    }
    .header_wrapper .navbar_collapse{
        margin-top: -0.125rem;
    }

    .header_wrapper .menu-navbar-nav{
        text-align: center;
        background-color: white;
        padding-bottom: 0.9375rem;
    }
    .header_wrapper .nav-item .nav-link{
        margin-top: 0.9375rem;
    }

}

@media (max-width: 767px){
    h1{
        font-size: 2.5rem;
        line-height: 3rem;

    }
    h2{
        font-size: 1.875rem;
        line-height: 2.375rem;
    }
    h3{
        font-size: 1.5625rem;
        line-height: 2.1875rem;
    }

}

@media (max-width: 575.5px){

}

@media (max-width: 390px){

}